$base-font-size: 100%;


$row-width: 1280px;
$column-gutter: 16px;
$total-columns: 6;

// Bolt colors: 
$bolt-blue: #204460;
$bolt-light-blue: #39556A;
$bolt-orange: #DC6A23;


$table-bg: #FFF;
//$table-border-color: #FFF;
$table-border-size: 0px;
//$table-even-row-bg: lighten(desaturate($bolt-orange, 20), 35);
//$table-odd-row-bg: #F2F2F2;
$table-even-row-bg: #F4F3EA;
$table-odd-row-bg: #fff;
$table-row-padding: 2px;
$table-row-font-size: 13px;
$table-line-height: 1.4;

// Topbar dropdown color. Screw you, Foundation.
$oil: $bolt-blue;

@import "foundation";

body {
    padding-top: 5em !important;
}

a {
    color: $bolt-blue;
    text-decoration: none;
    border-bottom: 1px solid lighten($bolt-blue, 50);
}

a:hover {
    color: $bolt-light-blue;
    text-decoration: none;
    border-bottom: 1px solid $bolt-light-blue;
}

.top-bar { 

    background-color: $bolt-blue; 

    margin-bottom: 8px;

    .name h1 {
        font-weight: normal;
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #FFF;
        margin-left: 12px;
        font-size: 20px;
    }

}

.panel {
    background-color: #FFF;
    border: 1px solid lighten(desaturate($bolt-blue, 8), 8);
    padding: 0 4px 4px;
    margin-bottom: 16px;
    overflow: hidden;

    header {
        background-color: lighten(desaturate($bolt-blue, 8), 8); 
        margin: 0px -4px 0;
        padding: 5px 5px 5px;
    }

    h2 {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        color: #FFF;

        code {
            border: 0;
            color: #FCF8E3;
            padding: 1px 4px;
            font-family: 'Source Code Pro', Courier, "Courier New", monospace;
            //letter-spacing: -0.5px;
            background-color: rgba(0, 0, 0, 0.15); 
        }        

        a.anchor, a.anchor:hover {
            float: right;
            color: #BBB;
            margin-right: 10px;
        }

    }

    p {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.4;
        margin: 8px 0;
    }

    code {
        padding: 0;
        color: #222;
        font-family: 'Source Code Pro', Courier, "Courier New", monospace;
        //letter-spacing: -0.5px;        
        background-color: transparent;
        border: 0;
    }

    mark {
        background-color: transparent;
        color: #C22;
        font-size: 125%;
        line-height: 50%;
    }

    .tip {
        padding: 3px;
        color: #A73;
        background-color: #FCF8E3;
        border: 1px solid #F7EAD1;
    }
    
    .tip p::before { 
        content: "TIP: ";
        font-weight: bold;
    }

    table {
        width: 100%;
        border: 0;
        margin: 0;
        background-color: transparent;
        border-collapse: collapse;
        
    }
    
    th {
        text-transform: uppercase;
    }

    td { 
        vertical-align: top;
        padding: 5px;
        border-collapse: collapse;
        
        p {
            font-size: $table-row-font-size;
            line-height: $table-line-height;
            margin: 0;
        }        
    }

    td:first-child {
        white-space: nowrap;
    }

//    tr {
//        
//        td {
//            background: $table-odd-row-bg; 
//        }
//    }

    tr {        
        &.even,
        &.alt,
        &:nth-of-type(even) { 
            td {
                background: $table-even-row-bg;
                 border: 0;
            }
                
        }
    
    }
    
}

.readmore {
    color: $bolt-orange;
    
    > a {
        color: $bolt-orange;
    }
    
}



@media #{$small-only} {

    .columns {
        padding-left: 0;
        padding-right: 0;
    }

    table.linear {
        td {
            display: block;
        }

        th {
            display: block;
            width: 49%;
            float: left;
        }
    }

    .panel {

        border: 0;

        h2 {
            font-size: 17px;
        }

        p { 
            font-size: 14px;
        }

        td { 
            p {
                font-size: $table-row-font-size + 1;
                line-height: $table-line-height;
            }        
        }

    }
}


//@media print {
//
//    .tip {
//        display: none;
//    }
//
//    table,
//    .panel {
//        position: relative !important;
//        display: inline-block !important;
//        width: 33% !important;
//        height: 100%;
//    }
//    
//    table {
//        margin-bottom: 5em;
//    }
//    
//    td {
//        word-wrap: break-word;
//        
//    }
//
//
//}

