$base-font-size: 100%;


$row-width: 1280px;
$column-gutter: 16px;
$total-columns: 7;


$table-bg: #FFF;
$table-border-color: #FFF;
$table-even-row-bg: rgba(229, 150, 83, 0.15);
$table-row-padding: 0px;
$table-row-font-size: 12px;
$table-line-height: 1.4;


// Bolt colors: 
$bolt-blue: #005394;
$bolt-light-blue: #39556A;
$bolt-orange: #DC6A23;

@import "foundation";

a {
    color: $bolt-blue;
}

.panel {
    border: 1px solid #ccc;
    padding: 0 4px 4px;
    margin-bottom: 16px;

    header {
        background-color: $bolt-light-blue;
        margin: 0px -4px 0;
        padding: 2px 2px 2px;
    }

    h2 {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        margin: 0;
        color: #FFF;

        code {
            border: 0;
            color: #DDD;
            padding: 1px 4px;
            background-color: rgba(0, 0, 0, 0.3);
        }        

        a.anchor, a.anchor:hover {
            float: right;
            color: #BBB;
        }

    }

    p {
        font-size: 13px;
        line-height: 1.4;
        margin: 8px 0;
    }

    code {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.1);
        border: 0;
    }

    table {
        width: 100%;
        border: 0;
        margin: 0;
    }

    td { 
        vertical-align: top;
        padding: 1px;
        p {
            font-size: $table-row-font-size;
            line-height: $table-line-height;
            margin: 0;
        }        
    }

    td:first-child {
        white-space: nowrap;
    }

    tr {
        &.even,
        &.alt,
        &:nth-of-type(even) { 
            td {
                background: $table-even-row-bg; 
                border-bottom: 1px solid #CCC;
            }
        }
    }

}